.header {
  width:100% ;
  background: var(--bg);
  color: var(--primary);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.right {
  font-size: 14px;
}
.toggle {
  margin-right: 16px;
  background: var(--primary);
  color: white;
  border-radius: 6px;
  padding: 8px;
}
p{
  font-weight: bold;
}
.web-header{
  display: flex;
    border-bottom: 1px solid #eee;
}