.header {
  background: var(--bg);
  color: var(--primary);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.right {
  font-size: 14px;
}
.toggle {
  margin-right: 16px;
  background: var(--primary);
  color: white;
  border-radius: 6px;
  padding: 8px;
}
p{
  font-weight: bold;
}