.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}
.label {
  color: #6b7280;
  font-size: 14px;
}

.value {
  font-size: 28px;
  font-weight: 600;
  margin-top: 5px;
}
.card:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}