.dashboard {
  padding: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 15px;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.stats div {
  /* background: #f1f8f4; */
  padding: 1rem;
  border-radius: 8px;
  font-weight: 500;
}
.chart-card {
  margin-top: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}
.chart-container {
  /* height: 300px; */
  margin-top: 20px;
}
.chart-row {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* 👈 LEFT + RIGHT */
  gap: 20px;
  margin-top: 20px;
}

.chart-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  /* height: 350px; */
}

.chart-box canvas {
  /* width: 100% !important;
  height: 250px !important; */
}
#groupChart{
  width: 100% !important;
  height: 250px !important;
}
.stats span{
  font-size: 1.2rem;
  font-weight: bold;
}
.blue{
  background-color: var(--done);
}
.red{
  background-color: var(--alert);
}
.green{
  background-color: var(--secondary);
}
.yellow{
  background-color: var(--draft);
}
.chart-box h4{
  color: var(--primary);
}