<div class="members">
   <!-- ✅ Overlay (click outside closes popup) -->
  <div 
    *ngIf="selectedMemberId !== null" 
    class="overlay"
    (click)="selectedMemberId = null">
  </div>
 <div class="header">
   <div class="header-content">
    <div class="block">
  <h3 class="title">Group Management</h3>
  <div class="batch"> 30 Groups</div>
  </div>

  <div class="block">

  <app-search></app-search>
  <app-filter></app-filter>

    <app-button variant="primary" (click)="onAddUser()" label="Add Group"></app-button>
    
  </div>

</div>
<p class="subtitle">Manage all groups efficiently, track their details, and monitor their participation in chit funds.</p>
</div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Group Name</th>      
          <th>Leader Name</th>
          <th>Phone</th>
          <th>Amount</th>
          <th>Auction Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of members; let i = index">
          <td>{{ m.name }}</td>
          <td>{{ m.leader }}</td>
          <td>{{ m.phone }}</td>
          <td>{{ m.amount }}</td>
          <td>{{ m.auctionDate }}</td>
          <td>
            <span class="status" [class.paid]="m.status === 'paid'">
              {{ m.status }}
            </span>
          </td>
          <td>
            <div class="action-cell">

            <lucide-icon [img]="EllipsisVertical"  (click)="showAction(m,i)"></lucide-icon>
           <div *ngIf="selectedMemberId === i" class="dialog">
      <div (click)="onEdit(m)" class="dialog-item">Edit</div>
      <div (click)="onDelete(m)" class="dialog-item">Delete</div>
    </div>
</div>
          </td>
        </tr>
      </tbody>
    </table>
    
<ul class="pagination">
  <li><button>&laquo;</button></li>
  <li><button>1</button></li>
  <li><button class="active">2</button></li>
  <li><button>3</button></li>
  <li><button>4</button></li>
  <li><button>5</button></li>
  <li><button>&raquo;</button></li>
</ul>
  </div>
</div>

